<form action="/create_user" method="POST">
  <label>username: <input type="text" required name="username" placeholder="username"></label><br>
  <label>password: <input type="password" required name="password" placeholder="password"></label><br>
  <input type="submit" value="Create User">
</form>
