<h4>Submit New Post</h4>

<form action="/post/create" method="POST">
  <label>Title<input type="text" name="title" placeholder="Post Title"></label><br>
  <label>Url<input type="text" value="http://" name="url" placeholder="Post URL"></label><br>
  <input type="submit" value="Create Post">
  <a href="/"><input type="button" value="Cancel"></a>
</form>
